:root
{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    --txtcolor: black;
    --nav-size: 5rem;
    --body-padding: 15vw;
    --subnav-size: 2.5rem;
    --default-margin: 10px;
}
*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0 var(--body-padding);
    margin-left: var(--default-margin);
}

.navbar-overlay
{
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--nav-size);
    
}

#overlay-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#overlay-split1
{
    background-color: #239346;
    width: var(--body-padding);
    height: 100%;
}

#overlay-split2
{
    background-color: white;
    width: auto;
    height: 100%;
}

#overlay-split3
{
    background-color: #be0027;
    width: var(--body-padding);
    height: 100%;
}

.navbar
{
    width: 100%;
    height: var(--nav-size);
}

.navbar-ul
{
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar-item
{
    height: 100%;
    padding-right: var(--default-margin);
}

.navbar-div
{
    height: 100%;
    width: auto;
    display: inline-block;
    position: relative;
}

#logo-div
{
    width: 14rem;
}

#logo
{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#navbar-linkheading
{
    padding-left: 5px;
    position: absolute;
}

.navbar-link
{
    display: inline-block;
    text-decoration: none;
    height: var(--nav-size);
}

.navbar-linktext
{
    display: inline-block;
    text-transform: uppercase;
    color: var(--txtcolor);
    font-weight: bold;
    letter-spacing: 0.3ch;
    transform-origin: 0 10px;
    transform: scale(1,1.5);
    font-size: 1.6rem;
}

.sub-navbar
{
    width: 100%;
    height: var(--subnav-size);
}

.subnav-linktext
{
    color: var(--txtcolor);
    text-transform: uppercase;
}

.topping-popup
{
    position: relative;
    visibility: hidden;
    display: inline-block;
    left: 25%;
    /*width: auto;*/
}

.topping-popup .topping-choices
{
    /*visibility: hidden;*/
    background-color: #555;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
}

.topping-popup a
{
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
}
/*
.topping-popup .show
{
    visibility: visible;
    /*-webkit-animation: fadeIn 1s;*/
    /*animation: fadeIn 1s;*/
/*}*/
/*
@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}
*/
#menu-items
{
    display: flex;
    justify-content: flex-start;
}

.order-label
{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: solid white;
    
}

.active-sel
{
    border: solid black;
    
}

.order-div
{
    margin-right: 10px;
}

.option-div
{
    margin-right: 10px;
}

.topping-add-div
{
    font-size: 1.6rem;
    margin-right: 10px;
}

.price-div
{
    margin-right: 10px;
}