:root
{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    --txtcolor: black;
    --nav-size: 5rem;
    --body-padding: 18vw;
    --subnav-size: 2.5rem;
    --default-margin: 10px;
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0 var(--body-padding);
    margin-left: var(--default-margin);
}

.navbar-overlay
{
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--nav-size);
    
}

#overlay-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#overlay-split1
{
    margin-left: 10px;
    background-color: #239346;
    width: calc(var(--body-padding) - 10px);
    height: 100%;
    border-radius: 5px;
}

#overlay-split2
{

    background-color: white;
    width: auto;
    height: 100%;
}

#overlay-split3
{
    margin-right: 10px;
    background-color: #be0027;
    width: calc(var(--body-padding) - 10px);
    height: 100%;
    border-radius: 5px;
}

.navbar
{
    width: 100%;
    height: var(--nav-size);
}

.navbar-ul
{
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar-item
{
    height: 100%;
    padding-right: var(--default-margin);
}

.navbar-access
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.navbar-div
{
    height: 100%;
    width: auto;
    display: inline-block;
    position: relative;
}

.access-div
{
    height: auto;
}

#logo-div
{
    width: 14rem;
}

#logo
{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#navbar-linkheading
{
    padding-left: 5px;
    position: absolute;
}

.navbar-link
{
    display: inline-block;
    text-decoration: none;
    height: var(--nav-size);
    color: var(--txtcolor);
}

.access-link
{
    height:auto;
    
}

#cart-cnt
{
    color: #be0027;
}

.navbar-linktext
{
    display: inline-block;
    text-transform: uppercase;
    
    font-weight: bold;
    letter-spacing: 0.3ch;
    transform-origin: 0 10px;
    transform: scale(1,1.5);
    font-size: 1.6rem;
}


.alert-div
{
    position: absolute;
    bottom: 5%;
    width: 36%;
    left: 50%;
    margin-left: -18%;
    z-index: 1;
}

.alert
{
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    opacity: 50%;
    border-radius: 5px;
    border: solid;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.alert-success
{
    background-color: #239346;
}

.alert-closebtn
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 1s;
}

.sub-navbar
{
    width: 100%;
    height: var(--subnav-size);
}

.subnav-linktext
{
    display: inline-block;
    color: var(--txtcolor);
    text-transform: uppercase;
    padding: 5px;
    border: solid white;
}

.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 9999;
  }

.topping-popup
{
    position: relative;
    visibility: hidden;
    display: inline-block;
    /*left: 30%;
    top: 15%;*/
    /*width: auto;*/
}

.topping-popup .popup-div
{
    padding-left: 5px;
    padding-right: 5px;
    background-color: #239346;
    z-index: 1;
    border: solid;
    position: absolute;
    border-radius: 5px;
}

.topping-popup .topping-choices
{
    padding: 5px;
    padding-right: 20px;
    white-space: nowrap;
}

.topping-popup a
{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.topping-popup .topping-close
{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.register-form
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.content-section
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.8rem;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 700px;
    margin-bottom: 20px;
}

#floating-menu
{
    left: 5%;
    position: absolute;
}

#menu-items
{
    display: flex;
    justify-content: flex-start;
}

.order-label
{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: solid white;
    
}

.active-sel
{
    border: solid black;
    border-radius: 5px;
}

.order-div
{
    margin-right: 10px;
}

.option-div
{
    margin-right: 10px;
}

.topping-add-div
{
    font-size: 1.6rem;
    margin-right: 10px;
}

.price-div
{
    margin-right: 10px;
}

.cart-div
{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 250px;
    padding-top: 50px;

}

#cart-items
{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.cart-border
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 230, 230);
}

.cart-total
{
    padding-top: 10px;
    border-bottom: none;
}

.cart-order
{
    width: 200px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.cart-order h2
{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.cart-description
{
    color: grey;
    font-size: 0.6rem;
}

.cart-toppings
{
    width: 250px;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.cart-toppings-title
{
    font-size: 0.8rem;
}

.cart-price
{
    width: 80px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
}

.cart-remove
{
    text-decoration: none;
    color: var(--txtcolor);
    width: 18px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}