{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--https://formden.com/blog/isolate-bootstrap-->
    <!--https://github.com/cryptoapi/Isolate-Bootstrap-4.1-CSS-Themes-->
    <link rel="stylesheet" href="{% static 'menu/bootstrapcustom.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'menu/bscalcfixes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'menu/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    
    <title>Pinochio's Pizza {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="navbar-overlay">
        <div id="overlay-container">
            <div id="overlay-split1"></div>
            <div id="overlay-split2"></div>
            <div id="overlay-split3"></div>
        </div>
    </div>
    <nav class="navbar">
        <ul class="navbar-ul">
            <li class="navbar-item">
                <div class="navbar-div" id="logo-div">
                    <a href="{% url 'menu-home' %}" class="navbar-link"><img src="{% static 'menu/pinocchio_72.gif' %}"
                            id="logo">
                        <span class="navbar-linktext" id="navbar-linkheading">
                            Pinochio's Pizza
                        </span>
                    </a>
                </div>
            </li>

            <li class="navbar-item">
                <div class="navbar-div">
                    <a href="{% url 'menu-menu' %}" class="navbar-link">
                        <span class="navbar-linktext">
                            Menu
                        </span>
                    </a>
                </div>

            </li>

            <li class="navbar-item navbar-access" >
                <div class="navbar-div access-div">
                    <span class="access-text">
                        <a href="{% url 'menu-cart' %}" class="navbar-link access-link" id="shopping-cart">
                            
                            <span id="cart-cnt">
                                {% if request.session.order|length > 0 %}
                                    {{ request.session.order|length }}
                                {% endif %}
                            </span>
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </span>
                </div>
                {% if user.is_authenticated %}

                <div class="navbar-div access-div">
                    <a href="{% url 'logout' %}" class="navbar-link access-link">
                        <span class="access-text">
                            Log out
                        </span>
                    </a>
                </div>

                {% else %}
                <div class="navbar-div access-div">
                    <a href="{% url 'login' %}" class="navbar-link access-link">
                        <span class="access-text">
                            Log in
                        </span>
                    </a>
                </div>
                <div class="navbar-div access-div">
                    <a href="{% url 'register' %}" class="navbar-link access-link">
                        <span class="access-text">
                            Register
                        </span>
                    </a>
                </div>
                {% endif %}
            </li>
        </ul>
    </nav>
    <main class="main-container">
        <div class="alert-div">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% block content %}{% endblock %}
    </main>

    <script>
        let csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'menu/menu.js' %}"></script>
    <script src="https://kit.fontawesome.com/ac4cfb10ae.js" crossorigin="anonymous"></script>
</body>

</html>