{% extends "menu/base.html" %}
{% load static %}
{% block title %} - Cart{% endblock %}
{% block content %}
    <div class="cart-div">
        <div class="cart-items">
            <div class="cart-border">
                <div class="cart-order"><h2>Cart</h2></div>
            </div>
        <!-- </div> -->

        {% for uid, order in orders.items %}

        <!-- <div class="cart-item" id="{{ uid }}"> -->
            <div class="cart-border" id="{{ uid }}">
                <div class="cart-order">
                    <div class="cart-description">
                        {{ order.product }}
                    </div>
                    <div class="cart-order-title">
                        {{ order.order }}
                    </div>

                </div>
                
                <div class="cart-toppings">
                    <div class="cart-description">
                        {% if order.toppings %}Toppings{% endif %}
                    </div>
                    <div class="cart-toppings-title">
                        {% for topping in order.toppings %}
                            <div>{{topping}}</div>
                        {% endfor %}
                    </div>

                </div>

                <div class="cart-price">
                    $ &nbsp;
                    <span id="{{uid}}-cart-price">
                        {{ order.price }}
                    </span>
                </div>
                <a href="#" class="cart-remove" name="{{ uid }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>


        <!-- </div> -->

        {% endfor %}
        <!-- <div class="cart-item"> -->
            <div class="cart-border cart-total">
                <div class="cart-order"></div>
                <div class="cart-toppings cart-description" style="align-items: flex-end;">
                    Total
                </div>
                <div class="cart-price">
                    $ &nbsp;
                    <span id="cart-tally">
                        {{ tally }}
                    </span>
                </div>
                <div class="cart-remove"></div>
            </div>
        </div>

    </div>

    <script src="{% static 'menu/cart.js' %}"></script>
{% endblock content %}