{% extends "menu/base.html" %}
{% load static %}
{% block title %} - Handle Order{% endblock %}
{% block content %}
    <!-- {% for cart in carts %}
        <p>{{ cart.user }}</p>
        {% for item in cart.cart_items.all %}
            <p>{{ item.product }}</p>
        {% endfor %}
    
    {% endfor %} -->

    {% for cart in carts %}
        {% if cart.cart_items.all %}
            <div class="cart-div">
                <div id="cart-items">
                    <div class="cart-border">
                        
                        <div class="cart-order"><h2>{{ cart.user }}</h2></div>
                        
                    </div>
            
                    {% for item in cart.cart_items.all %}
                        <div class="cart-border">
                            <div class="cart-order-details">
                                <div class="cart-order pending-order">
                                    <div class="cart-description">
                                        {{ item.product.option.order.product }} 
                                        ({{ item.product.size }}, {{ item.product.option.option_name }})
                                    </div>
                                    <div class="cart-order-title">
                                        {{ item.product.option.order.title }}
                                    </div>
                            
                                </div>
                                {% if item.toppings.all %}
                                    <div class="cart-toppings">
                                        <div class="cart-description">
                                            <!-- {% if order.toppings %}Toppings{% endif %} -->
                                            Toppings
                                        </div>
                                        <div class="cart-toppings-title">
                                            {% for topping in item.toppings.all %}
                                                <div>{{ topping }}</div>
                                            {% endfor %}
                                        </div>
                            
                                    </div>
                                {% endif %}
                            </div>
                            
                            <div class="cart-price">
                                <div class="bootstrapiso">
                                    <a href="#"
                                    role="button"
                                    class="btn btn-outline-info order-complete-button"
                                    id="complete-btn-{{ item.id }}"
                                    data-cartid="{{ item.id }}"
                                    data-cartuser="{{ cart.user }}">
                                    <i class="fas fa-pizza-slice"></i>
                                    </a>
                                    <a href="#"
                                    role="button"
                                    class="btn btn-outline-info delivery-complete-button disabled"
                                    id="delivered-btn-{{ item.id }}"
                                    data-cartid="{{ item.id }}"
                                    data-cartuser="{{ cart.user }}">
                                    <i class="fas fa-truck"></i>
                                    </a>
                                </div>
                            </div>     
                        </div>
            
            
                    {% endfor %}
            
            
                </div>
            </div>
        {% endif %}
        <script src="{% static 'menu/handle_order.js' %}"></script>
    {% endfor %}
{% endblock content %}