{% extends "menu/base.html" %}
{% block title %} - Handle Order{% endblock %}
{% block content %}
    <!-- {% for cart in carts %}
        <p>{{ cart.user }}</p>
        {% for item in cart.cart_items.all %}
            <p>{{ item.product }}</p>
        {% endfor %}
    
    {% endfor %} -->

    {% for cart in carts %}
        <div class="cart-div">
            <div id="cart-items">
                <div class="cart-border">
                    <div class="cart-order"><h2>{{ cart.user }}</h2></div>
                </div>
        
                {% for item in cart.cart_items.all %}
                    <div class="cart-border">
                        <div class="cart-order-details">
                            <div class="cart-order pending-order">
                                <div class="cart-description">
                                    {{ item.product.option.order.product }} 
                                    ({{ item.product.size }}, {{ item.product.option.option_name }})
                                </div>
                                <div class="cart-order-title">
                                    {{ item.product.option.order.title }}
                                </div>
                        
                            </div>
                            {% if item.toppings.all %}
                                <div class="cart-toppings">
                                    <div class="cart-description">
                                        <!-- {% if order.toppings %}Toppings{% endif %} -->
                                        Toppings
                                    </div>
                                    <div class="cart-toppings-title">
                                        {% for topping in item.toppings.all %}
                                            <div>{{ topping }}</div>
                                        {% endfor %}
                                    </div>
                        
                                </div>
                            {% endif %}
                        </div>
                        
                    <div class="cart-price">
                        
                        <div class="bootstrapiso">
                            <a href="{% url 'menu-order-placed' %}"
                            role="button"
                            class="btn btn-outline-info"
                            id="order-button"
                            data-cartid="{{ item.id }}">
                                Completed
                            </a>
                        </div>
                        
                    </div>
        
                    </div>
        
        
                {% endfor %}
        
        
            </div>
        </div>
    {% endfor %}
{% endblock content %}