{% extends "menu/base.html" %}
{% load static %}
{% block title %}- Menu{% endblock %}
{% block content %}
    <div class="sub-navbar">
        <ul class="navbar-ul">
            {% for product in products %}
                <li class="navbar-item">
                    <a href="#" id="{{ product }}" name="{{ product }}" class="navbar-link">
                        <span class="subnav-linktext">
                            {{ product }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="menu-items">

    </div>
<!--
    {{ products|json_script:"products_var" }}    -->
    <script>
        let csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'menu/menu.js' %}"></script>

{% endblock content %}
