{% extends "menu/base.html" %}
{% load static %}
{% block title %} - Menu{% endblock %}
{% block content %}
    <div class="sub-navbar">
        <ul class="navbar-ul">
            {% for product in products %}
                <li class="navbar-item">
                    <a href="#" id="{{ product }}" name="{{ product }}" class="navbar-link">
                        <span class="subnav-linktext" id="{{ product }}-span">
                            {{ product }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="fullscreen-container" id="fullscreen-container">
        <div class="topping-popup" id="topping-popup">
        
            <div class="popup-div">
                <span class="topping-close" id="topping-close">&times;</span>
                <div class="topping-choices" id="topping-choices"></div>
            </div>
            
        </div>
    </div>

    <div id="menu-items">
    </div>


    <!-- <script>
        let csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'menu/menu.js' %}"></script> -->

{% endblock content %}
